.cart-button {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--primary-color-1);
	align-items: center;
	width: 14.375rem;
	height: 3.125rem;
	font-family: montserrat-bold;
	color: var(--neutral-color-3);
	border: none;
	border-radius: 0.625rem;
	padding: 0rem 2.5rem;
}

@media screen and (max-width: 768px) {
	.cart-button {
		width: 18.125rem;
		padding: 0rem 5rem;
	}
}
